.bg-gray-200 {
    background-color: var(--bs-gray-200);
}

.bg-card, .bg-gray-900 {
    background-color: var(--bs-gray-900);
}

.bg-muted-30 {
    background-color: rgba(var(--bs-muted-rgb), 0.3) !important;
}

.bg-gray-900-20 {
    background-color: rgba(var(--bs-gray-900), 0.2) !important;
}

.bg-gray-900-90 {
    background-color: rgba(var(--bs-gray-900), 0.9) !important;
}

.text-heading {
    color: var(--bs-heading-color) !important;
}

.bg-primary-10 {
    background-color: rgba(var(--bs-primary), 0.1) !important;
}

.bg-success-10 {
    background-color: rgba(var(--bs-success), 0.1) !important;
}

.bg-warning-10 {
    background-color: rgba(var(--bs-warning), 0.1) !important;
}

.bg-primary-20 {
    background-color: rgba(var(--bs-primary), 0.2) !important;
}

.bg-secondary-10 {
    background-color: rgba(var(--bs-secondary), 0.1) !important;
}

.bg-info-20 {
    background-color: rgba(var(--bs-info), 0.2) !important;
}
.bg-warning-10 {
    background-color: rgba(var(--bs-warning), 0.1) !important;
}
.border-s4 {
    border-width: 4px !important;
}

.btn-white {
    background-color: var(--bs-white);

    &:hover {
        background-color: var(--bs-gray-500);
        color: var(--bs-white);
    }
}

.border-white-02 {
    border-color: rgba(var(--bs-white-rgb), 0.2) !important;
}

.btn-white-01 {
    background-color: rgba(var(--bs-white-rgb), 0.1);

    &:hover {
        background-color: rgba(var(--bs-white-rgb), 0.5);
        color: var(--bs-white);
    }
}

.btn-body {
   background-color: var(--bs-body-bg);

   svg {
        stroke: var(--bs-primary);
   }

    &:hover {
        background-color:var(--bs-primary);
        color: var(--bs-white);
    }  
}

.about-w-50 {
    width: 50%;
}
// back to top

.top {
    bottom: 30px;
    right: 30px;
    border-radius: 50%;
    font-size: 24px;
    background-color: var(--bs-secondary);
    transition: all 0.3s ease-in-out;
    z-index: 9;

    &:hover {
        background-color: var(--bs-primary);
        box-shadow: var(--bs-box-shadow);
    }
}

.lh-2 {
    line-height: 2 !important;
}

// scroll
/* width */
::-webkit-scrollbar {
    width: 0.25em;
    height: 0.25em;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background-image: linear-gradient(to right, var(--bs-primary), var(--bs-secondary));
    border-radius: 0.313em;
}


* {
  scrollbar-width: thin;              
  scrollbar-color: var(--bs-secondary) transparent; 
}
// end

// start animation
@keyframes bounce {

    0%,
    to {
        transform: translateY(-25%);
        animation-timing-function: cubic-bezier(.8, 0, 1, 1)
    }

    50% {
        transform: none;
        animation-timing-function: cubic-bezier(0, 0, .2, 1)
    }
}

.animate-bounce {
    animation: bounce 1s infinite
}
.animate-bounce-1{
    animation: bounce 4s infinite
}
.animate-bounce-2{
    animation: bounce 7s infinite
}
.animate-bounce-3{
    animation: bounce 8s infinite
}
.animate-bounce-4{
    animation: bounce 6s infinite
}

@keyframes pulse {
    50% {
        opacity: .5
    }
}

.animate-pulse {
    animation: pulse 2s cubic-bezier(.4, 0, .6, 1) infinite
}

.animate-pulse-soft {
    animation: pulse-soft 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}

@keyframes pulse-soft {
    0%, 100% {
      opacity: 1;
    }
    50% {
      opacity: 0.8;
    }
  }

@keyframes whatsapp-pulse{

  0%{
    box-shadow: 0 0 0 0 rgba(37, 211, 102, 0.7);
  }

  70%{
    box-shadow: 0 0 0 10px rgba(37, 211, 102, 0);
  }

  100%{
    box-shadow: 0 0 0 0 rgba(37, 211, 102, 0);
  }
}
.animate-whatsapp-pulse{
  animation: whatsapp-pulse 2s infinite;
}
@include media-breakpoint-down(lg) {

    .about-w-50 {
        width: 100%;
    }
}
@include media-breakpoint-down(md) {

    .section-padding {
        padding: 2.5rem 0;
    }

    .section-title {
        margin-bottom: 1rem;

        .sub-title {
            font-size: .875rem;
        }
    }

    .font-size-30 {
        font-size: 1rem;
    }

}