header {
  position: relative;
  z-index: 999;
  transition: all 0.3s ease-out 0s;

  &.sticky {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    width: 100%;
    animation: slideDown 0.4s ease forwards;
  }

  .nav {
    background-color: var(--bs-gray-900);
    backdrop-filter: blur(12px);

    // .logo-default {
    //   .navbar-brand {
    //     .logo {
    //       max-height: 40px;
    //     }
    //   }
    // }
  }
}