.custom-accordion {
    background-color: var(--bs-gray-900);
    border: 1px solid var(--bs-border-color);
    padding: 30px 35px;
    margin-bottom: 30px;
    border-radius: 1rem !important;
    box-shadow: 0 4px 12px rgba(45, 90, 39, 0.08);

    &:not(:first-of-type) {
        border-top: 1px solid var(--bs-border-color);
    }

    &:last-child {
        margin-bottom: 0;
    }

    .faq-btn {
        border: 0;
        background: inherit;
        font-size: 1.3rem;
        font-weight: 700;

        &::after {
            content: "";
            width: 24px;
            height: 24px;
            background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 24 24' stroke-width='1.5' stroke='currentColor'%3E%3Cpath stroke-linecap='round' stroke-linejoin='round' d='m19.5 8.25-7.5 7.5-7.5-7.5'/%3E%3C/svg%3E");
            background-repeat: no-repeat;
            background-position: center;
            background-size: contain;
            font-size: 1.5rem;
            color: var(--bs-primary);
            line-height: 1;
            text-align: center;
            border-radius: 50%;
            transition: transform 0.3s ease-in-out;
        }

        &:not(.collapsed) {
            background: inherit;
            box-shadow: none;
            font-size: 1.3rem;
            font-weight: 700;

            &::after {
                transform: rotate(180deg);
            }
        }

    }
}

@include media-breakpoint-down(md) {
    .custom-accordion {
        padding: 16px;

        .faq-btn {
            font-size: 1rem;

            &:not(.collapsed) {
                font-size: 1rem;
            }
        }
    }
}