.form-control {
    &.subscribe-input {
        background-color: #1f2937;
        border: 1px solid var(--bs-gray-800);
        color: var(--bs-white);
        &:focus{
            border-color: var(--bs-primary);
        }
    }

}
input::placeholder {
    color: var(--bs-gray-800);
}