/*!
* Version: 1.0.0
* Template: Chat Boat AI
* Author: creatiixDesign
* Design and Developed by: creatiixDesign
* NOTE: This file contains the styling for Template.
*
*/
:focus {
  outline: none;
}

hr {
  margin: 1rem 0;
  color: inherit;
  background-color: currentColor;
  border: 0;
  opacity: 0.25;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--bs-heading-font-family);
}

h1 {
  font-size: var(--bs-heading-1, 4.2062rem);
}

h2 {
  font-size: var(--bs-heading-2, 3.1563rem);
}

h3 {
  font-size: var(--bs-heading-3, 2.3687rem);
}

h4 {
  font-size: var(--bs-heading-4, 1.775rem);
}

h5 {
  font-size: var(--bs-heading-5, 1.125rem);
}

h6 {
  font-size: var(--bs-heading-6, 1rem);
}

a {
  -webkit-transition: color 400ms ease, background 400ms ease;
  -o-transition: color 400ms ease, background 400ms ease;
  transition: color 400ms ease, background 400ms ease;
  color: var(--bs-primary);
  text-decoration: none;
}

h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
  color: inherit;
}

img {
  max-width: 100%;
}

@media (max-width: 767px) {
  h1 {
    font-size: 3rem;
  }
  h3 {
    font-size: 1rem;
  }
}
:root {
  --prefix: bs-;
  --bs-heading-font-family: var(--bs-font-monospace);
}
@media (max-width: 767px) {
  :root {
    --bs-heading-1: 3.809rem;
    --bs-heading-2: 2.5rem;
    --bs-heading-3: 1.875rem;
    --bs-heading-4: 1.25rem;
  }
}

.container {
  max-width: 1400px;
}

::-moz-selection {
  color: var(--bs-white);
  background: var(--bs-secondary);
}

::selection {
  color: var(--bs-white);
  background: var(--bs-secondary);
}

/*
 * Background color 
 */
.bg-soft-primary {
  color: rgb(151.2, 40.5, 120.6);
  background-color: rgba(168, 45, 134, 0.1) !important;
}

.bg-soft-secondary {
  color: rgb(22.5, 31.5, 81);
  background-color: rgba(25, 35, 90, 0.1) !important;
}

.bg-soft-success {
  color: rgb(8.1, 134.1, 69.3);
  background-color: rgba(9, 149, 77, 0.1) !important;
}

.bg-soft-info {
  color: rgb(29.7, 117, 216.9);
  background-color: rgba(33, 130, 241, 0.1) !important;
}

.bg-soft-warning {
  color: rgb(221.4, 170.1, 86.4);
  background-color: rgba(246, 189, 96, 0.1) !important;
}

.bg-soft-danger {
  color: rgb(215.1, 55.8, 48.6);
  background-color: rgba(239, 62, 54, 0.1) !important;
}

.bg-soft-light {
  color: rgb(199.8, 203.4, 207);
  background-color: rgba(222, 226, 230, 0.1) !important;
}

.bg-soft-dark {
  color: rgb(30.6, 36.9, 41.4);
  background-color: rgba(34, 41, 46, 0.1) !important;
}

.bg-soft-gray {
  color: rgb(194.4, 195.3, 195.3);
  background-color: rgba(216, 217, 217, 0.1) !important;
}

.bg-soft-gray-dark {
  color: rgb(225, 223.2, 229.5);
  background-color: rgba(250, 248, 255, 0.1) !important;
}

.bg-soft-indigo {
  color: rgb(0, 135, 122.4);
  background-color: rgba(0, 150, 136, 0.1) !important;
}

.bg-soft-purple {
  color: rgb(217.8, 211.5, 229.5);
  background-color: rgba(242, 235, 255, 0.1) !important;
}

.bg-soft-orange {
  color: rgb(229.5, 206.1, 171);
  background-color: rgba(255, 229, 190, 0.1) !important;
}

.avatar {
  position: relative;
}

.avatar-8 {
  height: 0.5rem;
  width: 0.5rem;
  min-width: 0.5rem;
  text-align: center;
  line-height: 0.5rem;
  -webkit-border-radius: 0.375rem;
          border-radius: 0.375rem;
}

.avatar-24 {
  height: 1.5rem;
  width: 1.5rem;
  min-width: 1.5rem;
  text-align: center;
  line-height: 1.5rem;
  -webkit-border-radius: 0.375rem;
          border-radius: 0.375rem;
}

.avatar-30 {
  height: 1.875rem;
  width: 1.875rem;
  min-width: 1.875rem;
  text-align: center;
  line-height: 1.875rem;
  -webkit-border-radius: 0.375rem;
          border-radius: 0.375rem;
}

.avatar-40 {
  height: 2.5rem;
  width: 2.5rem;
  min-width: 2.5rem;
  text-align: center;
  line-height: 2.5rem;
  -webkit-border-radius: 0.375rem;
          border-radius: 0.375rem;
}

.avatar-45 {
  height: 2.8125rem;
  width: 2.8125rem;
  min-width: 2.8125rem;
  text-align: center;
  line-height: 2.8125rem;
  -webkit-border-radius: 0.375rem;
          border-radius: 0.375rem;
}

.avatar-48 {
  height: 3rem;
  width: 3rem;
  min-width: 3rem;
  text-align: center;
  line-height: 3rem;
  -webkit-border-radius: 0.375rem;
          border-radius: 0.375rem;
}

.avatar-50 {
  height: 3.125rem;
  width: 3.125rem;
  min-width: 3.125rem;
  text-align: center;
  line-height: 3.125rem;
  -webkit-border-radius: 0.375rem;
          border-radius: 0.375rem;
}

.avatar-55 {
  height: 3.4375rem;
  width: 3.4375rem;
  min-width: 3.4375rem;
  text-align: center;
  line-height: 3.4375rem;
  -webkit-border-radius: 0.375rem;
          border-radius: 0.375rem;
}

.avatar-60 {
  height: 3.75rem;
  width: 3.75rem;
  min-width: 3.75rem;
  text-align: center;
  line-height: 3.75rem;
  -webkit-border-radius: 0.375rem;
          border-radius: 0.375rem;
}

.avatar-64 {
  height: 4rem;
  width: 4rem;
  min-width: 4rem;
  text-align: center;
  line-height: 4rem;
  -webkit-border-radius: 0.375rem;
          border-radius: 0.375rem;
}

.avatar-70 {
  height: 4.375rem;
  width: 4.375rem;
  min-width: 4.375rem;
  text-align: center;
  line-height: 4.375rem;
  -webkit-border-radius: 0.375rem;
          border-radius: 0.375rem;
}

.avatar-80 {
  height: 5rem;
  width: 5rem;
  min-width: 5rem;
  text-align: center;
  line-height: 5rem;
  -webkit-border-radius: 0.375rem;
          border-radius: 0.375rem;
}

.avatar-90 {
  height: 5.625rem;
  width: 5.625rem;
  min-width: 5.625rem;
  text-align: center;
  line-height: 5.625rem;
  -webkit-border-radius: 0.375rem;
          border-radius: 0.375rem;
}

.avatar-100 {
  height: 6.25rem;
  width: 6.25rem;
  min-width: 6.25rem;
  text-align: center;
  line-height: 6.25rem;
  -webkit-border-radius: 0.375rem;
          border-radius: 0.375rem;
}

.avatar-110 {
  height: 6.875rem;
  width: 6.875rem;
  min-width: 6.875rem;
  text-align: center;
  line-height: 6.875rem;
  -webkit-border-radius: 0.375rem;
          border-radius: 0.375rem;
}

.avatar-120 {
  height: 7.5rem;
  width: 7.5rem;
  min-width: 7.5rem;
  text-align: center;
  line-height: 7.5rem;
  -webkit-border-radius: 0.375rem;
          border-radius: 0.375rem;
}

.avatar-130 {
  height: 8.125rem;
  width: 8.125rem;
  min-width: 8.125rem;
  text-align: center;
  line-height: 8.125rem;
  -webkit-border-radius: 0.375rem;
          border-radius: 0.375rem;
}

.avatar-140 {
  height: 8.75rem;
  width: 8.75rem;
  min-width: 8.75rem;
  text-align: center;
  line-height: 8.75rem;
  -webkit-border-radius: 0.375rem;
          border-radius: 0.375rem;
}

.avatar-150 {
  height: 9.375rem;
  width: 9.375rem;
  min-width: 9.375rem;
  text-align: center;
  line-height: 9.375rem;
  -webkit-border-radius: 0.375rem;
          border-radius: 0.375rem;
}

.avatar-180 {
  height: 11.25rem;
  width: 11.25rem;
  min-width: 11.25rem;
  text-align: center;
  line-height: 11.25rem;
  -webkit-border-radius: 0.375rem;
          border-radius: 0.375rem;
}

.avatar-270 {
  height: 16.875rem;
  width: 16.875rem;
  min-width: 16.875rem;
  text-align: center;
  line-height: 16.875rem;
  -webkit-border-radius: 0.375rem;
          border-radius: 0.375rem;
}

.avatar-status i {
  font-size: 12px;
}
.avatar-status {
  position: absolute;
  bottom: -4px;
  top: auto;
  left: auto;
  right: 4px;
}

.avatar-borderd {
  border: 1px solid;
  border-color: rgba(168, 45, 134, 0.2);
}

.avatar-borderd-1 {
  border: 1px solid;
  border-color: rgba(168, 45, 134, 0.2);
}

.avatar-borderd-2 {
  border: 2px solid;
  border-color: rgba(168, 45, 134, 0.2);
}

.avatar-borderd-3 {
  border: 3px solid;
  border-color: rgba(168, 45, 134, 0.2);
}

.avatar-borderd-4 {
  border: 4px solid;
  border-color: rgba(168, 45, 134, 0.2);
}

.avatar-borderd-5 {
  border: 5px solid;
  border-color: rgba(168, 45, 134, 0.2);
}

.avatar-rounded {
  -webkit-border-radius: 50rem;
          border-radius: 50rem;
  overflow: hidden;
}

.object-contain {
  -o-object-fit: contain;
     object-fit: contain;
}

.object-cover {
  -o-object-fit: cover;
     object-fit: cover;
}

.section-padding {
  padding: 5rem 0;
}

.section-padding-bottom {
  padding-bottom: 5rem;
}

.section-padding-top {
  padding-top: 5rem;
}

.section-bg {
  background-color: var(--bs-gray-900);
}

.section-title {
  margin-bottom: 2.5rem;
}
.section-title .sub-title {
  font-size: 1.125rem;
}

.decorator-font {
  font-family: Kalam, cursive;
}

.font-size-24 {
  font-size: 1.5rem;
}

.font-size-30 {
  font-size: 1.875rem;
}

.text-gray-400 {
  color: var(--bs-gray-400);
}

.video-wrapper iframe {
  aspect-ratio: 16/5.1;
  -webkit-border-radius: var(--bs-border-radius);
          border-radius: var(--bs-border-radius);
}

.top {
  bottom: 30px;
  right: 30px;
  line-height: 42px;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  font-size: 26px;
  color: var(--bs-white);
  background-color: var(--bs-secondary);
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  z-index: 9;
}
.top:hover {
  background-color: var(--bs-secondary);
  -webkit-box-shadow: var(--bs-box-shadow);
          box-shadow: var(--bs-box-shadow);
}

.lh-2 {
  line-height: 2 !important;
}

/* width */
::-webkit-scrollbar {
  width: 0.25em;
  height: 0.25em;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background-image: -webkit-gradient(linear, left top, right top, from(var(--bs-primary)), to(var(--bs-secondary)));
  background-image: -webkit-linear-gradient(left, var(--bs-primary), var(--bs-secondary));
  background-image: linear-gradient(to right, var(--bs-primary), var(--bs-secondary));
  -webkit-border-radius: 0.313em;
          border-radius: 0.313em;
}

* {
  scrollbar-width: thin;
  scrollbar-color: var(--bs-secondary) transparent;
}

@-webkit-keyframes bounce {
  0%, to {
    -webkit-transform: translateY(-25%);
            transform: translateY(-25%);
    -webkit-animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
            animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
  }
  50% {
    -webkit-transform: none;
            transform: none;
    -webkit-animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
            animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
  }
}

@keyframes bounce {
  0%, to {
    -webkit-transform: translateY(-25%);
            transform: translateY(-25%);
    -webkit-animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
            animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
  }
  50% {
    -webkit-transform: none;
            transform: none;
    -webkit-animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
            animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
  }
}
.animate-bounce {
  -webkit-animation: bounce 1s infinite;
          animation: bounce 1s infinite;
}

.animate-bounce-1 {
  -webkit-animation: bounce 4s infinite;
          animation: bounce 4s infinite;
}

.animate-bounce-2 {
  -webkit-animation: bounce 7s infinite;
          animation: bounce 7s infinite;
}

.animate-bounce-3 {
  -webkit-animation: bounce 8s infinite;
          animation: bounce 8s infinite;
}

.animate-bounce-4 {
  -webkit-animation: bounce 6s infinite;
          animation: bounce 6s infinite;
}

@-webkit-keyframes pulse {
  50% {
    opacity: 0.5;
  }
}

@keyframes pulse {
  50% {
    opacity: 0.5;
  }
}
.animate-pulse {
  -webkit-animation: pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
          animation: pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}

@media (max-width: 767.98px) {
  .section-padding {
    padding: 2rem 0;
  }
  .section-padding-top {
    padding-top: 2rem;
  }
  .section-padding-bottom {
    padding-bottom: 2rem;
  }
  .section-title {
    margin-bottom: 1.25rem;
  }
  .section-title .sub-title {
    font-size: 0.875rem;
  }
  .font-size-30 {
    font-size: 1rem;
  }
}
.masonry__container {
  -webkit-column-count: 3;
     -moz-column-count: 3;
          column-count: 3;
  -webkit-column-gap: 1rem;
     -moz-column-gap: 1rem;
          column-gap: 1rem;
  counter-reset: item-counter;
}
.masonry__container .masonry__item {
  margin-bottom: 1rem;
  -webkit-border-radius: var(--bs-border-radius);
          border-radius: var(--bs-border-radius);
}

.portfolio-card {
  -webkit-border-radius: 8px;
          border-radius: 8px;
  border: 8px solid var(--bs-body-bg);
}
.portfolio-card .img-inner {
  height: 500px;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
}
.portfolio-card .portfolio-content {
  padding: 40px 0 0;
  opacity: 0.6;
  -webkit-transition: opacity 0.5s ease-in-out;
  -o-transition: opacity 0.5s ease-in-out;
  transition: opacity 0.5s ease-in-out;
}
.portfolio-card .portfolio-content .portfolio-inner {
  width: 70%;
}

.portfolio-container .slick-slide {
  -webkit-transform: scale(0.8);
      -ms-transform: scale(0.8);
          transform: scale(0.8);
  overflow: hidden;
}
.portfolio-container .slick-slide.slick-current {
  -webkit-transform: scale(1.1, 1);
      -ms-transform: scale(1.1, 1);
          transform: scale(1.1, 1);
  z-index: 15;
}
.portfolio-container .slick-slide.slick-current .portfolio-content {
  opacity: 1;
}

@media (max-width: 767.98px) {
  .masonry__container {
    -webkit-column-count: 2;
       -moz-column-count: 2;
            column-count: 2;
  }
}
.specialty-item {
  overflow: hidden;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}
.specialty-item .specialty-img {
  -webkit-border-radius: var(--bs-border-radius);
          border-radius: var(--bs-border-radius);
  aspect-ratio: 3/2;
  overflow: hidden;
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(12, 11, 17, 0.25)), to(rgba(12, 11, 17, 0.25))), -webkit-gradient(linear, left top, left bottom, color-stop(56%, rgba(12, 11, 17, 0)), to(rgba(12, 11, 17, 0.2)));
  background: -webkit-linear-gradient(bottom, rgba(12, 11, 17, 0.25) 0%, rgba(12, 11, 17, 0.25) 100%), -webkit-linear-gradient(top, rgba(12, 11, 17, 0) 56%, rgba(12, 11, 17, 0.2) 100%);
  background: -o-linear-gradient(bottom, rgba(12, 11, 17, 0.25) 0%, rgba(12, 11, 17, 0.25) 100%), -o-linear-gradient(top, rgba(12, 11, 17, 0) 56%, rgba(12, 11, 17, 0.2) 100%);
  background: linear-gradient(0deg, rgba(12, 11, 17, 0.25) 0%, rgba(12, 11, 17, 0.25) 100%), linear-gradient(180deg, rgba(12, 11, 17, 0) 56%, rgba(12, 11, 17, 0.2) 100%);
}
.specialty-item .specialty-img::before {
  position: absolute;
  content: "";
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border-bottom: 0.25em solid var(--bs-primary);
  background: rgba(var(--bs-black), 0.8);
  width: 100%;
  height: 100%;
  opacity: 0;
  z-index: 9;
  -webkit-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  -webkit-border-radius: var(--bs-border-radius-lg);
          border-radius: var(--bs-border-radius-lg);
}
.specialty-item:hover {
  z-index: 99;
  -webkit-transform: scale3d(1.1, 1.1, 1) translateZ(0) perspective(31.25em);
          transform: scale3d(1.1, 1.1, 1) translateZ(0) perspective(31.25em);
  -webkit-transform-origin: 50% 50%;
      -ms-transform-origin: 50% 50%;
          transform-origin: 50% 50%;
  -webkit-transition: all 0.6s ease 0s;
  -o-transition: all 0.6s ease 0s;
  transition: all 0.6s ease 0s;
}
.specialty-item:hover::before {
  opacity: 1;
}
.specialty-item::before {
  position: absolute;
  content: "";
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border-bottom: 0.25em solid var(--bs-primary);
  background: rgba(var(--bs-dark-rgb), 0.8);
  width: 100%;
  height: 100%;
  opacity: 0;
  z-index: 9;
  -webkit-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  -webkit-border-radius: var(--bs-border-radius-lg);
          border-radius: var(--bs-border-radius-lg);
}
.specialty-item .info {
  z-index: 9;
}

.review-card {
  background-color: var(--bs-gray-900);
  border: 1px solid var(--bs-border-color);
  -webkit-box-shadow: var(--bs-box-shadow);
          box-shadow: var(--bs-box-shadow);
}
.review-card .quotes-icon {
  position: absolute;
  top: 1rem;
  left: auto;
  right: 1.5rem;
  font-size: 2rem;
  color: var(--bs-warning-bg-subtle);
}
.review-card .user {
  -webkit-border-radius: 50%;
          border-radius: 50%;
  font-size: 24px;
  color: var(--bs-white);
  background-color: var(--bs-warning);
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  z-index: 9;
}

.slick-reviews .slick-slide {
  -webkit-transform: scale(0.8);
      -ms-transform: scale(0.8);
          transform: scale(0.8);
}
.slick-reviews .slick-slide.slick-active {
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}

.main-slider .banner-bg {
  position: relative;
  -webkit-background-size: cover;
          background-size: cover;
  background-position: center top;
  background-repeat: no-repeat;
  width: 100%;
  z-index: 1;
  transition-property: transition, -webkit-transition;
  min-height: 92vh;
  height: 100%;
}
.main-slider .banner-bg:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: -webkit-gradient(linear, left top, right top, from(rgba(var(--bs-black-rgb), 0.9)), color-stop(15%, rgba(var(--bs-black-rgb), 0.9)), to(rgba(var(--bs-black-rgb), 0)));
  background: -webkit-linear-gradient(left, rgba(var(--bs-black-rgb), 0.9), rgba(var(--bs-black-rgb), 0.9) 15%, rgba(var(--bs-black-rgb), 0));
  background: -o-linear-gradient(left, rgba(var(--bs-black-rgb), 0.9), rgba(var(--bs-black-rgb), 0.9) 15%, rgba(var(--bs-black-rgb), 0));
  background: linear-gradient(90deg, rgba(var(--bs-black-rgb), 0.9), rgba(var(--bs-black-rgb), 0.9) 15%, rgba(var(--bs-black-rgb), 0));
  z-index: -1;
}
.main-slider .banner-bg .content-full-height {
  min-height: 92vh;
}
.main-slider .trending-list {
  margin: 0 0 1.875em;
}
.main-slider .trending-list > div {
  margin-bottom: 0.313em;
}
.main-slider .trending-list .tag {
  font-size: 0.875em;
  font-weight: 500;
  position: relative;
}
.main-slider .trending-list .tag span {
  margin: 0;
  font-weight: 400;
}
.main-slider.slick-slider.slick-dotted {
  margin-bottom: 0;
}
.main-slider .slick-dots {
  margin-top: 1em;
  bottom: 1em;
}

.playbtn {
  display: block;
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  text-align: center;
}
.playbtn .triangle {
  -webkit-transition: all 0.7s ease-in-out;
  -o-transition: all 0.7s ease-in-out;
  transition: all 0.7s ease-in-out;
  stroke-dasharray: 240;
  stroke-dashoffset: 480;
  stroke: var(--bs-white);
  -webkit-transform: translateY(0);
      -ms-transform: translateY(0);
          transform: translateY(0);
}
.playbtn .circle {
  stroke: var(--bs-white);
  stroke-dasharray: 650;
  stroke-dashoffset: 1300;
  -webkit-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
.playbtn span {
  color: var(--bs-white);
}
.playbtn:hover .triangle {
  stroke-dashoffset: 0;
  opacity: 1;
  stroke: var(--bs-primary);
  -webkit-animation: trailorPlay 0.7s ease-in-out;
          animation: trailorPlay 0.7s ease-in-out;
}
.playbtn:hover .circle {
  stroke-dashoffset: 0;
  stroke: var(--bs-primary);
}

.w-trailor {
  font-size: 1.25em;
  letter-spacing: 0.21875em;
  margin-left: 0.9375em;
  vertical-align: middle;
}

@media (max-width: 991.98px) {
  .play-btn svg {
    height: 50px;
    width: 50px;
  }
  .w-trailor {
    font-size: 1em;
  }
  .main-slider .banner-bg {
    padding: 3.125em 0;
    min-height: initial;
  }
  .main-slider .banner-bg .content-full-height {
    padding: 3.125em 0em;
    min-height: inherit;
    height: inherit;
  }
}
.films-trailer-container {
  padding: 0.625rem;
  background: var(--bs-gray-900);
  -webkit-backdrop-filter: blur(0.625rem);
  backdrop-filter: blur(0.063rem);
  border: 0.063rem solid var(--bs-border-color);
}
.films-trailer-container .films-trailer::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0.9)), color-stop(15%, rgba(20, 20, 20, 0.9)), to(rgba(83, 100, 141, 0)));
  background: -webkit-linear-gradient(left, rgba(0, 0, 0, 0.9) 0%, rgba(20, 20, 20, 0.9) 15%, rgba(83, 100, 141, 0) 100%);
  background: -o-linear-gradient(left, rgba(0, 0, 0, 0.9) 0%, rgba(20, 20, 20, 0.9) 15%, rgba(83, 100, 141, 0) 100%);
  background: linear-gradient(90deg, rgba(0, 0, 0, 0.9) 0%, rgba(20, 20, 20, 0.9) 15%, rgba(83, 100, 141, 0) 100%);
  opacity: 0.5;
}
.films-trailer-container .trailer-image {
  width: 100%;
  aspect-ratio: 3/1;
  -o-object-fit: cover;
     object-fit: cover;
}
.films-trailer-container .playbtn {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
      -ms-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
  width: 100%;
}

.films-card iframe {
  width: 100%;
  aspect-ratio: 16/9;
}

.films-detail-page .films-data {
  max-height: 22.5rem;
  overflow-y: auto;
}
.films-detail-page .films-data .films-data-card {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  gap: 1.5rem;
  padding: 1rem;
}
.films-detail-page .films-data .films-data-card .films-data-card-image {
  -webkit-flex-shrink: 0;
      -ms-flex-negative: 0;
          flex-shrink: 0;
  position: relative;
}
.films-detail-page .films-data .films-data-card .films-data-card-image img {
  height: 4rem;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-border-radius: var(--bs-border-radius-lg);
          border-radius: var(--bs-border-radius-lg);
}
.films-detail-page .films-data .films-data-card .films-data-card-content {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  width: 100%;
}
.films-detail-page .films-data .films-data-card .films-data-card-content .line-count-2 {
  overflow: hidden;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
}
.films-detail-page .films-data .films-data-card .films-category li {
  position: relative;
  font-size: 0.75rem;
}
.films-detail-page .films-data .films-data-card .films-category li:not(:last-child)::before {
  content: "";
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  right: -0.7rem;
  width: 0.25rem;
  height: 0.25rem;
  background-color: var(--bs-body-color);
  -webkit-border-radius: 50%;
          border-radius: 50%;
}
.films-detail-page .films-data .films-data-card.active, .films-detail-page .films-data .films-data-card:hover {
  background-color: var(--bs-body-bg);
}
.films-detail-page .films-data .films-data-card.active .films-data-title, .films-detail-page .films-data .films-data-card:hover .films-data-title {
  color: var(--bs-primary);
}

@media (max-width: 767.98px) {
  .films-trailer-container .playbtn svg {
    width: 3.2rem;
    height: 3.2rem;
  }
  .films-trailer-container .playbtn .w-trailor {
    font-size: 1.5rrem;
  }
  .films-trailer-container .trailer-image {
    aspect-ratio: 3/2.8;
  }
  .films-detail-page .films-data .films-data-card {
    gap: 0.8rem;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
  }
}
.pricing-card {
  background: var(--bs-gray-900);
  padding: 1.875rem;
  position: relative;
}
.pricing-card .package-discount {
  position: absolute;
  top: 0;
  left: auto;
  right: 0;
  -webkit-border-radius: 0 var(--bs-border-radius) 0 var(--bs-border-radius);
          border-radius: 0 var(--bs-border-radius) 0 var(--bs-border-radius);
}
.pricing-card .package-badge {
  background: var(--bs-body-bg);
  color: var(--bs-body-text);
  -webkit-border-radius: var(--bs-border-radius);
          border-radius: var(--bs-border-radius);
  border: 1px solid var(--bs-border-color);
}
.pricing-card .package-wrap {
  margin-bottom: 1.25rem;
}
.pricing-card .buy-btn {
  margin: 2.188rem 0;
}
.pricing-card .package-included-title {
  margin-bottom: 0.75rem;
}
.pricing-card .package-included-list {
  padding: 0;
  margin: 0;
}
.pricing-card .package-included-list li {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.75rem;
  margin-bottom: 0.5rem;
}
.pricing-card .package-included-list li .package-qty {
  color: var(--bs-heading-color);
  margin-left: 0.625rem;
}
.pricing-card .package-included-list li:last-child {
  margin-bottom: 0;
}

@media (max-width: 767.98px) {
  .package-card {
    padding: 1rem;
  }
  .pricing-card .buy-btn {
    margin: 1rem 0;
  }
  .radient-card {
    width: 100%;
    margin: 0 auto 3.938rem;
  }
}
@media (max-width: 575.98px) {
  .pricing-card {
    padding: 1rem;
  }
}
.marvel-how-it-work {
  padding: 100px 16px 0 16px;
}
.marvel-how-it-work .work-inner {
  padding: 60px 75px 90px;
}

.marvel-work-section {
  margin-top: -60px;
  padding: 0px 16px 150px 16px;
}
.marvel-work-section .marvel-work-contianer {
  padding: 0 65px;
}
.marvel-work-section .marvel-work-contianer .marvel-work-inner .process-style-step-1 .step-content .step-number-inner {
  border: 10px solid var(--bs-white);
}
.marvel-work-section .marvel-work-contianer .marvel-work-inner .process-style-step-1 .step-content .step-number-inner .step-number {
  height: 90px;
  width: 90px;
  line-height: 90px;
  font-family: "Lexend Deca", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.marvel-work-section {
  margin-top: -60px;
  padding: 0px 16px 150px 16px;
}
.marvel-work-section .marvel-work-contianer {
  padding: 0 65px;
}
.marvel-work-section .marvel-work-contianer .marvel-work-inner .process-style-step-1 .step-content .step-number-inner {
  border: 10px solid var(--bs-white);
}
.marvel-work-section .marvel-work-contianer .marvel-work-inner .process-style-step-1 .step-content .step-number-inner .step-number {
  height: 90px;
  width: 90px;
  line-height: 90px;
  font-family: "Lexend Deca", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.image-box-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-align-self: stretch;
      -ms-flex-item-align: stretch;
          align-self: stretch;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  height: 100%;
  width: calc((1 - var(--container-widget-flex-grow)) * 100%);
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 2em 2em;
  margin: 0px;
  padding: 0px;
}
.image-box-container .image-box-1 {
  width: 100px;
  font-size: 9.375em;
}
.image-box-container .image-box-1 svg {
  width: 1em;
  height: 1em;
}

.about-img {
  aspect-ratio: 2/1.6;
  -o-object-fit: cover;
     object-fit: cover;
}

@media (max-width: 991.98px) {
  .marvel-how-it-work {
    padding: 70px 16px 0 16px;
  }
  .marvel-how-it-work .work-inner {
    padding: 60px 30px 80px 30px;
  }
  .marvel-work-section {
    padding: 0px 16px 70px 16px;
  }
  .marvel-work-section .marvel-work-contianer {
    padding: 0 32px;
  }
}
@media (max-width: 767.98px) {
  .marvel-how-it-work {
    padding: 50px 16px 0 16px;
  }
  .marvel-how-it-work .work-inner {
    padding: 30px;
  }
  .marvel-work-section {
    padding: 0px 16px 50px 16px;
  }
  .marvel-work-section .marvel-work-contianer {
    padding: 0;
  }
}
@media (max-width: 1600px) {
  .container-fluid {
    padding: 0 3.5rem;
  }
}
@media (max-width: 1400px) {
  .container-fluid {
    padding: 0 2rem;
  }
}
@media (max-width: 991.98px) {
  .container-fluid {
    padding: 0 1.5rem;
  }
  .sticky {
    position: static;
  }
}
@media (max-width: 767.98px) {
  .container-fluid {
    padding: 0 1rem;
  }
  .section-spacing {
    padding: 3.125rem 0;
  }
  .section-spacing-top {
    padding: 3.125rem 0 0;
  }
  .section-spacing-bottom {
    padding: 0 0 3.125rem;
  }
  .section-spacing-inner-pages {
    padding: 3.125rem 0 3.125rem;
  }
}
.bg-gray-900 {
  background-color: var(--bs-gray-900);
}

.bg-gray-800 {
  background-color: var(--bs-gray-800);
}

.cursor-pointer {
  cursor: pointer;
}

.slick-dots {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 32px;
}
.slick-dots li {
  border: 1px solid transparent;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  margin: 0 5px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
  list-style: none;
}
.slick-dots li button {
  display: block !important;
  -webkit-border-radius: 90px;
          border-radius: 90px;
  background: var(--bs-primary);
  -webkit-box-shadow: none;
          box-shadow: none;
  cursor: pointer;
  outline: none;
  -webkit-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  vertical-align: middle;
  border: 1px solid transparent;
  width: 18px;
  height: 18px;
  line-height: 18px;
  padding: 5px;
  font-size: 0;
  line-height: 0;
}
.slick-dots li button::before {
  content: none;
}
.slick-dots li.slick-active {
  border: 1px solid var(--bs-primary);
}
.slick-dots li.slick-active button {
  width: 12px;
  height: 12px;
  background: var(--bs-primary);
}

.slick-arrow .slick-nav {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  font-size: 1.5rem;
  z-index: 1;
  color: var(--bs-heading-color);
  background-color: var(--bs-body-bg);
  height: 1.625rem;
  width: 1.625rem;
  line-height: 1.625rem;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  text-align: center;
  cursor: pointer;
  -webkit-transition: all 0.45s ease 0s;
  -o-transition: all 0.45s ease 0s;
  transition: all 0.45s ease 0s;
}
.slick-arrow .slick-nav:hover {
  color: var(--bs-white);
  background-color: var(--bs-primary);
}
.slick-arrow .slick-nav i {
  font-size: 1.125rem;
  font-weight: 700;
}
.slick-arrow.slick-arrow-prev .slick-nav {
  left: -12px;
  z-index: 2;
}
.slick-arrow.slick-arrow-next .slick-nav {
  right: -16px;
}

.slick-slider.slick-initialized.slick-dotted {
  margin-bottom: 0;
}
.slick-slider .slick-prev,
.slick-slider .slick-next {
  z-index: 9;
  height: 2rem;
  width: 2rem;
  background: var(--bs-gray-900);
  -webkit-border-radius: 50%;
          border-radius: 50%;
}
.slick-slider .slick-prev::before,
.slick-slider .slick-next::before {
  color: var(--bs-gray-600);
  font-weight: 700;
}
.slick-slider .slick-prev:hover, .slick-slider .slick-prev:focus,
.slick-slider .slick-next:hover,
.slick-slider .slick-next:focus {
  background: var(--bs-primary);
}
.slick-slider .slick-prev:hover::before, .slick-slider .slick-prev:focus::before,
.slick-slider .slick-next:hover::before,
.slick-slider .slick-next:focus::before {
  color: var(--bs-white);
}
.slick-slider .slick-prev {
  left: 30px;
}
.slick-slider .slick-prev::before {
  content: "\e138";
  font-family: "Phosphor" !important;
}
.slick-slider .slick-next {
  right: -10px;
}
.slick-slider .slick-next::before {
  content: "\e13a";
  font-family: "Phosphor" !important;
}