.nav-product-tab {
    .nav-item {
        .nav-link {
            font-weight: 600;
            font-size: 0.875rem;
            font-family: $font-family-base;
            line-height: 1.25rem;
            background-color: var(--bs-body-bg);
            color: var(--bs-body-color);
            border: none;
            padding: 0.75rem 1.5rem;
            border-radius: 1rem;
            transition: all 0.3s ease-in-out;

            &:hover {
                color: var(--bs-white);
                background-color: var(--bs-primary);
            }

            &.active {
                color: var(--bs-white);
                background-color: var(--bs-primary);
            }
        }
    }
}

.premium-badge {
    top: 1rem;
    left: 1rem;
}
.star-badge {
    top: 1rem;
    right: 1rem;
}

.product-card {
    transition: all .8s ease-in-out;
  &:hover {
    .product-hover-img {
        transform: scale(1.1);
    }
  }
  .product-hover-img {
    transform: scale(1);
    transition: all .8s ease-in-out;
  }
}

// product deatil
.product-detail-image {

    .slick-slide {
        margin: 0 .625rem;
    }

    // .slick-arrow {
    // font-size: 0;
    // line-height: 0;
    // position: absolute;
    // top: 50%;
    // display: block;
    // width: 32px;
    // height: 32px;
    // padding: 0;
    // -webkit-transform: translate(0, -50%);
    // -ms-transform: translate(0, -50%);
    // transform: translate(0, -50%);
    // cursor: pointer;
    // color: transparent;
    // border: none;
    // outline: none;
    // background: var(--bs-gray-900);
    // border-radius: 50px;

    //     &.slick-prev {
    //         left: -45px;
    //         background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 24 24' stroke-width='1.5' stroke='currentColor'%3E%3Cpath stroke-linecap='round' stroke-linejoin='round' d='M15.75 19.5 8.25 12l7.5-7.5'/%3E%3C/svg%3E");
    //         background-repeat: no-repeat;
    //         background-size: contain;
    //     }

    //     &.slick-next {
    //         right: 15px;
    //         background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 24 24' stroke-width='1.5' stroke='currentColor'%3E%3Cpath stroke-linecap='round' stroke-linejoin='round' d='m8.25 4.5 7.5 7.5-7.5 7.5'/%3E%3C/svg%3E");
    //         background-repeat: no-repeat;
    //         background-size: contain;
    //     }
    // }

    .slick-arrow {
    font-size: 0 !important; /* keep text hidden */
    position: absolute;
    top: 50%;
    width: 40px;
    height: 40px;
    transform: translateY(-50%);
    border-radius: 50%;
    background: rgba(0, 0, 0, 0.75);
    border: none;
    cursor: pointer;
    z-index: 5;

    &::before {
      content: "";
      display: block;
      width: 25px;
      height: 25px;
      margin: auto;
      background-repeat: no-repeat;
      background-size: contain;
      filter: invert(1);
    }

    &.slick-prev {
      left: 15px;

      &::before {
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 24 24' stroke-width='2' stroke='black'%3E%3Cpath stroke-linecap='round' stroke-linejoin='round' d='M15.75 19.5 8.25 12l7.5-7.5'/%3E%3C/svg%3E");
      }
    }

    &.slick-next {
      right: 15px;

      &::before {
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 24 24' stroke-width='2' stroke='black'%3E%3Cpath stroke-linecap='round' stroke-linejoin='round' d='m8.25 4.5 7.5 7.5-7.5 7.5'/%3E%3C/svg%3E");
      }
    }
  }
}

.product-detail-tab {
  .nav-link {
    color: var(--bs-body-color);
    border-bottom: 1px solid var(--bs-border-color);
    transition: all .3s ease-in-out;
    
    &.active, &:hover, &:focus {
      background-color: var(--bs-gray-900);
      color: var(--bs-primary);
      border-top: none;
      border-left: none;
      border-right: none;
      border-color: var(--bs-primary);
    }
  }
}