$avatar-size: () !default;

$avatar-size: map-merge(
  (
    "8": 8,
    "24": 24,
    "30": 30,
    "40": 40,
    "45": 45,
    "48": 48,
    "50": 50,
    "55": 55,
    "58": 58,
    "60": 60,
    "64": 64,
    "70": 70,
    "80": 80,
    "90": 90,
    "100": 100,
    "110": 110,
    "120": 120,
    "130": 130,
    "140": 140,
    "150": 150,
    "180": 180,
    "270": 270,
  ), $avatar-size
);
