.seasonal-guide-table {
    thead th {
        background-color: var(--bs-primary);
        color: var(--bs-white);
        padding: 1rem 1.5rem;
        font-weight: $font-weight-bold;
    }
    tbody th, tbody td {
        background-color: var(--bs-gray-900);
        padding: 1rem 1.5rem;
        font-weight: $font-weight-semibold;
        vertical-align: middle;
    }
    tbody tr th {
        background-color: var(--bs-gray-900);
        color: var(--bs-heading);
    }
    tbody tr td {
        text-align: center;
    }
}